.input {
    background-color: var(--primary-color);
    color: var(--background-start);
    border: var(--border);
    font-size: var(--game-font-size);
    font-weight: var(--game-font-weight);
    border-radius: var(--border-radius);
    text-transform: uppercase;
    padding: 13px 16px;
    width: 50%;
}
