.scoreInfo {
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    color: var(--background-end);
    font-size: var(--game-font-size);
    font-weight: var(--game-font-weight);
    padding: 13px 16px;
    text-align: center;
    width: 100%;
}
.scoreMain {
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    color: var(--background-start);
    font-size: var(--game-font-size);
    font-weight: var(--game-font-weight);
    padding: 13px 16px;
    text-align: center;
    width: 50%;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .scoreInfo {
        height: 8vh;
    }
    .scoreMain {
        height: min-content;
    }
}
