.gamePlay {
    background-color: rgba(255, 255, 255, 0);
    color: var(--primary-color);
    font-weight: var(--game-font-weight);
    border: var(--border);
    font-size: var(--game-font-size);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.gamePlay:hover {
    background-color: var(--primary-color);
    color: var(--background-start);
}

.regular {
    background-color: var(--primary-color);
    color: var(--background-end);
    border: var(--border);
    font-size: var(--regular-font-size);
    border-radius: var(--border-radius);
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 13px 16px;
    height: min-content;
}

.regular:hover {
    background-color: rgba(255, 255, 255, 0);
    color: var(--primary-color);
}
