.select {
    background-color: var(--primary-color);
    color: var(--background-end);
    border: var(--border);
    font-size: var(--regular-font-size);
    border-radius: var(--border-radius);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 13px 16px;
}
