.wrapper {
    display: flex;
    height: 77.6px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hexagon {
    color: rgb(255, 255, 255);
    font-size: 128px;
    position: relative;
}

.letter {
    font-size: 36px;
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
