.wrapper {
    position: relative;
}

.hexagon {
    color: rgb(255, 255, 255);
    font-size: 128px;
    z-index: 0;
}

.letter {
    color: #000;
    font-size: 64px;
    position: absolute;
    left: 29.05px;
    top: 46.4px;
    z-index: 1;
}
